.btn {
  padding: 24px 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
  background: #ffd2a4;
  border-radius: 12px;
}

.btn:hover {
  background-color: #f2c79b;
}



.btn-secondary {
	padding: 24px 64px;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #FFD2A4;
	background: #161722;
	border-radius: 12px;
  }
  
  .btn-secondary:hover {
	color: #FFFFFF;
  }



  .btn-nav {
	padding: 20px 48px;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #1c1d28;
	background: #ffd2a4;
	border-radius: 12px;
  }
  
  .btn-nav:hover {
	background-color: #f2c79b;
  }