@use "../main.scss";

main {
  background: #f5f2f0;
}

#post {
  margin-top: 70px;
  padding: 128px 0px 64px 0px;
  .post__container {
    .post__cont--top {
      margin-bottom: 64px;
      h5 {
        padding-bottom: 16px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #161722;
      }
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #161722;
      }
    }
    .post__cont--bottom {
      width: 100%;
      height: 496px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 48px;
      align-items: center;
      padding: 56px 0px 56px 56px;
      background-color: #fff;
      .post__cont--bottom--right {
        .right--title {
          display: flex;
          gap: 181px;
          margin-bottom: 12px;
          h6 {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #161722;
            opacity: 0.8;
          }
        }
        h4 {
          padding-bottom: 16px;
          font-weight: 700;
          font-size: 32px;
          line-height: 44px;
          letter-spacing: -0.01em;
          text-transform: uppercase;
          color: #161722;
        }
        p {
          padding-bottom: 32px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #161722;
          opacity: 0.78;
        }
        button {
          border: none;
          padding: 20px 48px;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          text-transform: uppercase;
          color: #1c1d28;
          background: #ffd2a4;
          border-radius: 12px;
          &:hover {
            background-color: #f2c79b;
          }
        }
      }
    }
  }
}

#blog-post {
  padding: 64px 0px 128px 0px;
  .blog-post__container {
    .blog-post__cont--top {
      margin-bottom: 64px;
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #161722;
      }
    }
    .blog-post__cont--bottom {
      .blog-post__cards {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 24px;
        .blog-post--card {
          width: 290px;
          height: 367px;
          position: relative;
          margin-bottom: 24px;
          padding: 48px 0px 0px 32px;
          background: #ffffff;
          &:hover .hover {
            background: #ffd0a0;
          }
          .p-7 {
            padding-bottom: 16px;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            background: linear-gradient(
              109.61deg,
              #a54e2b -53.83%,
              #dc9853 62.61%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
          h5 {
            padding-bottom: 16px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #161722;
          }
          .p-8 {
            padding-bottom: 48px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #161722;
            opacity: 0.78;
          }
          h6 {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #161722;
          }
          .p-9 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #161722;
          }
          .hover {
            width: 290px;
            height: 16px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: transparent;
          }
        }
      }
    }
  }
}

#footer {
  padding: 64px 0px 64px 0px;
  background: #161722;
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    // grid-column-gap: ;
    .footer__cont--left {
      display: grid;
      img {
        margin-bottom: 27px;
      }
      p {
        padding-bottom: 32px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        // text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }
      a {
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
    .footer__cont--right {
      display: flex;
      justify-content: space-between;
      .box1 {
        display: grid;
        // margin-right: 72px;
        h6 {
          padding-bottom: 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          // text-align: right;
          color: #ffffff;
        }
        a {
          padding-bottom: 24px;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #ffffff;
          opacity: 0.78;
        }
      }
      .box2 {
        // margin-right: 115px;
        h6 {
          padding-bottom: 20px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .box2--img {
          img {
            margin-right: 20px;
          }
        }
      }
      .box3 {
        h4 {
          padding-bottom: 32px;
          font-weight: 700;
          font-size: 32px;
          line-height: 44px;
          letter-spacing: -0.01em;
          text-transform: uppercase;
          color: #ffffff;
        }
        form {
          position: relative;
          #email {
            width: 512px;
            height: 64px;
            padding: 0px 221px 0px 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            opacity: 0.8;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 12px;
          }
          #submit {
            width: 201px;
            height: 61px;
            position: absolute;
            top: 2px;
            right: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #1c1d28;
            background: #ffd2a4;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            &:hover {
              background: #f2c79b;
            }
          }
        }
      }
    }
  }
}

// media

@media (max-width: 1168px) {
  #post .post__container .post__cont--bottom {
    display: grid;
    grid-template-columns: auto;
    height: auto;
    padding-right: 56px;
    .post__cont--bottom--left {
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }
    .post__cont--bottom--right {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  #blog-post .blog-post__container .blog-post__cont--bottom .blog-post__cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }
}

@media (max-width: 1060px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    .footer__cont--left {
      display: flex;
      justify-content: space-between;
      // align-items: center;
    }
  }
}

@media (max-width: 1000px) {
  #blog-post .blog-post__container .blog-post__cont--bottom .blog-post__cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}

@media (max-width: 870px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    .footer__cont--left {
      display: grid;
      justify-content: center;
    }
    .footer__cont--right {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
    }
  }
}

@media (max-width: 705px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    .footer__cont--left {
      display: grid;
      justify-content: center;
    }
    .footer__cont--right {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      .box1 {
        display: grid;
        justify-content: center;
        margin-bottom: 20px;
        h6 {
          text-align: left;
        }
        a {
          text-align: left;
        }
      }
      .box2 {
        display: grid;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 680px) {
  #blog-post .blog-post__container .blog-post__cont--bottom .blog-post__cards {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}

@media (max-width: 590px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    .footer__cont--left {
      display: grid;
      justify-content: center;
    }
    .footer__cont--right {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      .box3 {
        form {
          #email {
            width: 100%;
          }
          #submit {
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 475px) {
  #post .post__container .post__cont--bottom {
    padding: 20px;
  }
}

@media (max-width: 455px) {
  #footer .footer__container {
    display: grid;
    grid-template-columns: auto;
    .footer__cont--left {
      display: grid;
      justify-content: center;
    }
    .footer__cont--right {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      .box3 {
        form {
          #email {
            padding-right: 110px;
            width: 100%;
          }
          #submit {
            width: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #post .post__container .post__cont--bottom {
    padding: 20px 0;
  }
}
