@use "../main.scss";

$black: #161722;
$primary: #ffd2a4;
$lightorange: #fff5eb;
$grey: #f5f2f0;
$white: #ffffff;

h2 {
  color: $black;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

h4 {
  color: $black;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

header {
  margin-top: 70px;
  padding: 128px 0;
  background-image: url(../../images/home/bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: $white;
    }
    h1 {
      margin: 16px 0 32px;
      max-width: 550px;
      font-weight: 700;
      font-size: 64px;
      line-height: 82px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $white;
    }
    ul {
      li {
        margin-top: 64px;
        max-width: 300px;
        color: $white;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        list-style-position: inside;
        list-style-image: url(../../images/home/Line.png);
      }
    }
  }
}

main {
  h3 {
    color: $black;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
  }
  .sub-headline {
    padding: 128px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        color: $black;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
      }
      h2 {
        margin: 16px 0 64px;
      }
      .sub-headline__cards {
        display: grid;
        justify-content: center;
        gap: 24px;
        .sub-headline__card {
          max-width: 410px;
          padding: 75px;
          background-color: $lightorange;
          border-bottom: 16px solid $primary;
          h4 {
            margin: 16px 0 8px;
          }
          p {
            max-width: 250px;
          }
        }
      }
    }
  }
  .love {
    .container {
      padding-bottom: 128px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3 {
        color: $black;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
      }
      h2 {
        margin: 16px 0 32px;
      }
      p {
        margin-bottom: 56px;
        opacity: 0.78;
        text-align: center;
        max-width: 840px;
      }
      .love-images {
        margin-bottom: 64px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        img {
          width: 300px;
          border-radius: 30px;
        }
      }
      .p {
        max-width: 510px;
        margin-bottom: 16px;
      }
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $black;
      }
    }
  }
  .watch {
    background-color: $grey;
    padding: 128px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        max-width: 432px;
        margin: 20px 0 64px;
      }
      .watch-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .watch-card {
          position: relative;
          overflow: hidden;
          height: 370px;
          width: 290px;
          .watch-card-text {
            padding: 32px;
            background: linear-gradient(
              360deg,
              #060606 16.68%,
              rgba(0, 0, 0, 0.02) 96.44%
            );
            position: absolute;
            bottom: -90px;
            h5 {
              max-width: 238px;
              font-weight: 700;
              font-size: 24px;
              line-height: 28px;
              letter-spacing: -0.01em;
              color: $white;
              margin-bottom: 16px;
            }
            p {
              opacity: 0.78;
              color: $white;
              max-width: 238px;
            }
          }
        }
        .watch-card:hover .watch-card-text {
          bottom: 0;
        }
        .wc1 {
          background-image: url(../../images/home/card1.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .wc2 {
          background-image: url(../../images/home/card2.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .wc3 {
          background-image: url(../../images/home/card3.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .wc4 {
          background-image: url(../../images/home/card4.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .sermons {
    padding: 128px 0 208px;
    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        max-width: 555px;
        margin: 16px 0 64px;
      }
      .a {
        position: absolute;
        right: 20px;
        bottom: -80px;
        color: $black;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        i {
          color: $black;
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .sermons-card {
        display: grid;
        align-items: center;
        img {
          width: 100%;
        }
        .sermons-card-text {
          background-color: $lightorange;
          position: relative;
          padding: 60px 80px;
          h5 {
            color: $primary;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
          }
          h2 {
            margin: 16px 0;
            text-align: left;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.01em;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $black;
            opacity: 0.78;
            margin-bottom: 32px;
          }
          button {
            margin-top: 16px;
          }
          .time {
            margin-bottom: 16px;
            display: flex;
            gap: 16px;
            img {
              width: 20px;
              height: 20px;
            }
            .lupa {
              width: 20px;
              height: 24px;
            }
            .time-text {
              p {
                margin-bottom: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                opacity: 1;
              }
            }
          }
          .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 30px;
            right: 30px;
            h5 {
              color: $black;
              font-weight: 700;
              font-size: 24px;
              line-height: 28px;
              letter-spacing: -0.01em;
              text-transform: uppercase;
            }
            h4 {
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              text-transform: uppercase;
              color: $black;
            }
          }
        }
      }
    }
  }
  .visit {
    padding: 128px 0;
    background-image: url(../../images/home/bgi1.png);
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      .visit-card {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 100px;
        width: 90%;
        background-color: $white;
        padding: 72px 48px;
        border-bottom: 16px solid $primary;
        .visit-card-text {
          h2 {
            max-width: 368px;
            text-align: left;
          }
          p {
            margin: 16px 0;
            max-width: 300px;
          }
        }
      }
    }
  }
  .share {
    padding: 128px 0;
    .container {
      h2 {
        margin: 16px 0 64px;
      }
      .share-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        justify-content: center;
        .share-card {
          border-bottom: 16px solid transparent;
          padding: 48px 32px 32px;
          background-color: $lightorange;
          h5 {
            color: $primary;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
          }
          h2 {
            margin: 16px 0;
            max-width: 218px;
            text-align: left;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.01em;
            text-transform: uppercase;
          }
          p {
            max-width: 220px;
          }
          h4 {
            margin: 48px 0 4px;
            color: $black;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
    }
  }
}

.share-card:hover {
  border-bottom: 16px solid $primary !important;
}



@media (min-width: 700px) {
  .sub-headline__cards {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 800px) {
  .visit-card {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between !important;
  }
}

@media (min-width: 1000px) {
  .visit-card {
    width: 70% !important;
  }
  .sermons-card {
    grid-template-columns: repeat(2, auto);
    .sermons-card-text {
      h2 {
        max-width: 200px !important;
      }
      p {
        max-width: 256px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .visit-card {
    width: 66% !important;
  }
  .sub-headline__cards {
    grid-template-columns: repeat(3, auto);
  }
  .love-images {
    margin-top: -20px !important;
    .i1 {
      width: 293px !important;
      height: 384px;
    }
    .i2 {
      margin-top: 65px;
      width: 390px !important;
    }
  }
}
